.form-animate {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: rgba(#272727, .9) url("../img/loading.gif") center/80px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  &._sending {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }

  &._ok {
    &:after {
      content: "Заявка отправлена!";
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      visibility: visible;
      color: rgb(203, 230, 203);
      text-transform: uppercase;
      background-color: rgba(#272727, .9);
      background-image: none;
      font-weight: 600;
      text-align: center;
      padding: 30px;
    }
  }

  &._no {
    &:after {
      content: "Произошла ошибка, повторите пожалуйста!";
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      visibility: visible;
      color: rgb(228, 178, 178);
      text-transform: uppercase;
      background-color: rgba(#272727, .9);
      background-image: none;
      font-weight: 600;
      text-align: center;
      padding: 30px;
    }
  }
}