.header {
  padding-top: 20px;
}

.header__logo {
  margin-top: -20px;

  @media (max-width: $tablet) {
    position: fixed;
    top: 10px;
    left: 5px;
  }
}

.header__top {
  display: flex;
  gap: 100px;
  align-items: flex-start;
  transition: background-color .3s;

  &_sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 72px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(#272727, .1);
  }
}

.header__top-wrap {
  flex-grow: 1;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__title {
  font-size: 0.777rem;
  text-align: center;
}

.contacts__phone {
  display: block;
  margin-top: -3px;
  font-size: 1.444rem;
  text-align: center;
  font-weight: 600;
}

.contacts__call {
  display: block;
  margin-top: 1px;
  font-size: 0.833rem;
  text-align: center;
  color: $green;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: dotted;
}

.header_fixed {
  & .header__bottom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    gap: 50px;
    padding: 0 20px;
    background-color: rgba(#fff, .99);
    box-shadow: 0 0 20px rgba(#272727, .1);
  }

  & .nav {
    flex-grow: 1;
  }
}



.header__burger {
  position: absolute;
  top: 0px;
  right: -10000px;
  z-index: 3;
  padding: 25px 15px 15px 15px;
  background-color: transparent;
  border: none;

  &.open {
    position: fixed;
  }

  & span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    border-radius: 15px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background-color: $green;
  }

  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    right: 0;
  }
}

.header__burger-inner {
  position: relative;
  width: 45px;
  height: 20px;
}

.header__burger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.header__burger span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}

.header__burger span:nth-child(3) {
  top: 19px;
  transform-origin: left center;
}

.header__burger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 6px;
  width: 29px;
}

.header__burger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.header__burger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 17.33px;
  left: 6px;
  width: 29px;
}

.header {

  @media (max-width: $tablet) {
    position: absolute;
    z-index: 4;
    padding-top: 0;

     .header__top-wrap, .header__bottom {
      position: absolute;
      left: -10000px;
      opacity: 0;
    }
  }

  &_active {
    position: fixed;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: lighten($green, 45%);

    & .header__top_sticky {
      background-color: none;
      padding: 0;
      box-shadow: none;
    }

    @media (max-width: $tablet) {
      z-index: 4;
      padding-top: 0;

      .header__bottom, .header__top-wrap {
        position: static;
        left: 0;
        opacity: 1;
      }

      .header__top-wrap {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 20px;
        justify-content: space-around;
      }
    }

    @media (max-width: 780px) {
      .header__top-wrap {
        left: 0;
        right: 0;
        bottom: 20px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        padding: 0 5px;
      }

      .header__btn {
        text-align: center;
      }
    }
  }
}