.hero {
  position: relative;
  background-image: url("../img/bg.webp");
  background-color: #fff;
  background-size: auto 100%;
  background-position: top right -100px;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 100px;
    width: 300px;
    height: 600px;
    background-image: url("../img/tr-1.png");
    background-repeat: no-repeat;
    background-size: contain
  }

  @media (max-width:1800px) {
    &::after {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    &::after {
      display: none;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(#fff, .8);
    }
  }

  @media (max-width: $mobile) {
    background-position: top right -200px;
  }

  @media (max-width: $minmobile) {
    background-position: top right -250px;
  }
}

.hero__title {
  position: relative;
  font-size: 3.888rem;
  line-height: 1.1;
  font-weight: 600;
  text-align: left;
  opacity: 0.9;

  @media (max-width: $tablet) {
    margin-top: 30px;
    font-size: 3rem;
    line-height: 1;
  }
}

.hero__wrap {
  position: relative;
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 80px;
  min-height: 700px;

  @media (max-width: $tablet) {
    padding-top: 150px;
  }

  @media (max-width: $mobile) {
    padding-top: 100px;
  }
}

.hero__desc {
  position: relative;
  margin-top: 50px;
  font-size: 1.25rem;
  font-weight: 300;

  @media (max-width: 768px) {
    max-width: 70%;
    margin-top: 20px;
    line-height: 1.2;
  }
}

.hero__list {
  position: relative;
  margin-top: 60px;
  display: flex;
  gap: 40px;
  align-items: flex-start;

  @media (max-width: 600px) {
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
  }
}

.hero__item {
  width: 27%;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 400;

  @media (max-width: 600px) {
    width: 260px;
    gap: 15px;
    font-size: 1.1rem;
  }
}

.hero__icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__icon-img {
  fill: #fff;
}

.hero__btn-wrap {
  position: relative;
  margin-top: 50px;
  display: flex;
  gap: 60px;
  align-items: center;

  @media (max-width: $mobile) {
     margin-top: 30px;
  }
}

.hero__btn {
  position: relative;
  padding: 2.222rem 2.777rem 1.944rem;
  font-size: 1rem;

  &:after {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -100px;
    width: 60px;
    height: 60px;
    background-image: url("../img/arroww.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-49deg);
    opacity: 0.8;
  }

  @media (max-width: 768px) {
    padding: 1.8rem 2.2rem 1.5rem;
    font-size: 0.7rem;

    &:after {
      display: none;
    }
  }
}

.hero__time {
  width: 140px;
  font-size: 0.888rem;
  font-weight: 400;

  @media (max-width: 768px) {
    display: none;
  }
}

.hero__play {
  position: absolute;
  right: -190px;
  top: 25%;
  width: 100px;
  height: 100px;

  @media (max-width: $tablet) {
    right: 0px;
    top: 35%;
    height: 80px;
    width: 80px;
  }
}

.hero__play-link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #96be8e 0, $green 100%);
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba($green, 0.4);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($green, 0.9);
  }
  70% {
      box-shadow: 0 0 0 50px rgba($green, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba($green, 0);
  }
}

.hero__play-icon {
  fill: #fff;
}

