.contact {
  position: relative;
  max-width: 80%;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.contact__map {
  height: 500px;

  @media (max-width: 768px) {
    height: 300px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
}

.contact__address {
  & p {
    margin: 0;
    text-align: left;
  }
  max-width: 140px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet) {
    max-width: 159px;
    font-size: 16px;

    & p {
      margin: 0;
      text-align: right;
    }

    & .contact__city {
      margin-bottom: 20px;
    }
  }
}