.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -10000px;
  right: 10000px;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(rgb(21, 21, 21), .7);
  opacity: 0;
  transition: opacity 0.5s;
}

.modal_active {
  left: 0;
  right: 0;
  opacity: 1;
}

.modal__inner {
  position: relative;
  flex-basis: 700px;
  border-radius: 15px;
  padding: 60px 60px;
  box-shadow: 5px 5px 10px rgba(#000, .5);
  background-color: #fff;
  color: #272727;

  @media (max-width: 768px) {
    padding: 40px 20px;
  }
}

.modal__title {
  margin-bottom: 40px;
  font-size: 1.777rem;
  font-weight: 600;

  @media (max-width: 768px) {
    margin-bottom: 30px;
    font-size: 1.555rem;
  }
}

.modal__row {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
  }
}

.modal__input {
  width: 50%;
  background-color: #fff;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  font-size: 15px;
  color: #272727;
  transition: background-color 0.3s, border 0.3s;

  &:focus {
    background-color: #fff;
    color: $green;
  }

  &::placeholder {
    color: rgba(#272727, .5);
    text-align: center;
    font-size: 15px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;

    &::placeholder {
      font-size: 14px;
    }
  }
}

.modal__button {
  width: 50%;
  height: 60px;
  padding: 0 30px;
  line-height: 60px;
  border-radius: 15px;
  border: none;
  color: #fff;
  text-align: center;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  background-color: $green;

  @media (max-width: 768px) {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    border-radius: 10px;
    padding-top: 1px;
  }
}

.modal__privacy {
  font-size: 20px;

  & a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.modal__close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:after, &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: rgba(#272727, .4);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
  }
}

.modal_shit {

  transform: scale(0.8);

  .modal__inner {
    padding: 40px 50px;
    background-image: url("../img/magazine-big.webp");
    background-repeat: no-repeat;
    background-position: bottom -220px left -50px;
    background-size: 180% auto;
  }

  .quiz__result-inner {
    background-color: #fff;
  }

  .input {
    background-color: #fff;
  }

  .btn {
    opacity: 1;
    transition: background-color .3s;

    &:hover {
      background-color: darken($green, 5)
    }
  }

  .title {
    text-align: left;
    font-weight: 600;
    line-height: 1;
    font-size: 3.25rem;
  }
}

.modal_ok p {
  text-align: center;

  &:last-child {
    margin-top: 30px;
  }
}