.portfolio {
  position: relative;
  padding-top: 150px;
  background-image: url("../img/bochka-no-color.webp"), linear-gradient(180deg, rgba(#f5fafb, 1) 0%, rgba(#fff, 0.5) 10%, rgba(#fff, 1) 100%);
  background-position: top 320px right -100px, center;
  background-repeat: no-repeat;
  background-size: 450px auto, cover;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    transform: translateY(-50%) rotate(180deg);
    margin-top: 100px;
    width: 300px;
    height: 600px;
    background-image: url("../img/tr-14.png");
    background-repeat: no-repeat;
    background-size: contain
  }

  @media (max-width: $desktop) {
    &::before {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    padding-top: 80px;
    background: linear-gradient(180deg, rgba(#f5fafb, 1) 0%, rgba(#fff, 0.5) 10%, rgba(#fff, 1) 100%);
  }
}


.portfolio__title {
  margin-bottom: 10px;
}

.portfolio__subtitle {
  margin-bottom: 80px;
  text-align: center;
  font-size: 1.222rem;
  font-weight: 300;

  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.slider-portfolio {
  position: relative;
  overflow: hidden;
  width: 70vw;
  margin: 0 auto;

  @media (max-width: 1060px) {
    width: 90vw;
  }
}

.slider-portfolio__wrapper {
  display: flex;
}

.slider-portfolio__screen {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100%;
  overflow: hidden;
  padding: 0 50px 100px;

  @media (max-width: 1060px) {
    padding: 0 25px 100px;
  }
}

.slider-portfolio__inner {
  display: flex;
  align-items: stretch;
  padding: 0;
  background-color:#f0f4ec;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(#272727, .1);

  @media (max-width: 1060px) {
    flex-direction: column;
  }
}

.slider-portfolio__left {
  width: 40%;
  flex-shrink: 0;

  @media (max-width: 1060px) {
    width: 100%;
  }
}

.slider-portfolio__img-block {
  position: relative;
  height: 100%;

  @media (max-width: 1060px) {
    height: 350px;
  }
}

.slider-portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-portfolio__right {
  padding: 40px 60px 40px 60px;

  @media (max-width: $tablet) {
    padding: 20px 30px 20px 30px;
  }
}

.slider-portfolio__title {
  font-size: 1.667rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    margin-bottom: 5px;
  }
}

.slider-portfolio__location {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-weight: 300;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.slider-portfolio__location-icon {
  width: 24px;
  height: 30px;
}

.slider-portfolio__location-svg {
  width: 100%;
  height: 100%;
  fill: $green;
}

.slider-portfolio__sizes-list {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin-bottom: 40px;

  @media (max-width: $tablet) {
    gap: 10px;
  }

  @media (max-width: 768px) {
    margin-bottom: 20px;
    gap: 5px;
  }
}

.slider-portfolio__sizes-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slider-portfolio__sizes-value {
  padding: 9px 17px;
  border-radius: 10px;
  background-color: $green;
  color: #fff;
  font-size: 0.777rem;
  font-weight: 500;

  @media (max-width: 768px) {
    padding: 5px 7px;
    border-radius: 5px;
  }
}

.slider-portfolio__sizes-title {
  font-size: 0.833rem;
}

.slider-portfolio__do-title {
  margin-bottom: 10px;
  font-size: 1.222rem;
}

.slider-portfolio__do-list {
  margin-left: 10px;
  margin-bottom: 30px;
  font-size: 0.88rem;
}

.slider-portfolio__btn-calc {
  width: 330px;
  padding-top: 20px;
  padding-bottom: 17px;
  padding-left: 70px;

  & .btn-img__title {
    font-weight: 500;
    line-height: 1.4;
  }

  &:after {
    content: '';
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    background-image: url("../img/calc.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 1.2rem 1.6rem 1.1rem 4.5rem;

    &:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
    }
  }
}

.slider-portfolio__button {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 50px));
  right: 0;
  background-color: transparent;
  width: 100px;
  height: 100px;
  opacity: 1;
  img {
    transition: all 0.3s;
  }

  &:hover {
    img {
      transform: scale(1.1);
      opacity: 0.6;
    }
  }

  @media (max-width: 1060px) {
    width: 50px;
    height: 50px;
    transform: translateY(calc(-50% - 50px));
  }
}

.slider-portfolio__button-prev {
  left: 0;
  right: auto;
  img {
    transform: rotate(180deg);
  }


  &:hover {

    img {
      transform: scale(1.1) rotate(180deg);
      opacity: 0.6;
    }
  }
}

.slider-portfolio__pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.slider-portfolio__pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(221, 221, 221);
  cursor: pointer;

  &_active {
    background-color: $green;
  }
}

.slider-portfolio__mini-desc {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: rgba($green, .6);

  @media (max-width: 1060px) {
     top: 8px;
  }
}

.slider-portfolio__mini-list {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgba(#000, .6);
  border-radius: 15px;
  padding: 40px 10px 10px 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;

  @media (max-width: 1060px) {
    padding: 35px 10px 10px 10px;
  }
}

.slider-portfolio__mini-item {
  height: 80px;
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: 1060px) {
    height: 50px;
  }
}

.slider-portfolio__mini-link {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 0;
}

.slider-portfolio__mini-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}