.price {
  position: relative;
  padding-top: 150px;
  background-image:  linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(#f5fafb, 0.5) 20%, rgba(#f5fafb, 1) 100%);

  @media (max-width: $tablet) {
    padding-top: 80px;
  }
}

.price__title {
  position: relative;
  z-index: 2;
  max-width: 600px;
  text-align: left;
  line-height: 1.1;
}

.price__form {
  position: relative;
  z-index: 1;
  max-width: 550px;
  margin-top: 40px;
  padding: 60px;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(#272727, .1);
  border-radius: 30px;

  @media (max-width: $tablet) {
    padding: 30px 20px 20px;
  }
}

.price__form-title {
  font-size: 1.76rem;
  line-height: 1.1;
  margin: 0;
}

.price__btn {
  width: 100%;
  margin-top: 30px;
  padding: 40px 60px 36px 60px;
  font-size: 17px;

  @media (max-width: 768px) {
    padding: 1.9rem 1.3rem 1.6rem;
    font-size: 0.7rem;
  }

  @media (max-width: $minmobile) {
    font-size: 0.7rem;
  }
}

.price__img-block {
  position: absolute;
  width: 105vw;
  top: 80px;
  right: -30vw;

  @media (max-width: $tablet) {
    top: 190px;
    right: -40vw;
  }
}

.price__img-pdf-block {
  position: absolute;
  top: 0px;
  left: 100%;
  transform: translate(50%, 0);
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  padding: 20px;
}

.price__img-pdf-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.price__img-pdf {
  animation: rotates 666s infinite linear;
}

@keyframes rotates {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10000deg);
  }
}