.quiz-wrap {
  position: relative;

  & .quiz-wrap__before {
    content: "";
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    margin-top: 100px;
    width: 300px;
    height: 600px;
    background-image: url("../img/test-green2.png");
    background-repeat: no-repeat;
    background-size: contain
  }

  &::after {
    content: "";
    position: absolute;
    right: -55px;
    top: 30%;
    transform: translateY(-50%);
    margin-top: -100px;
    width: 300px;
    height: 600px;
    background-image: url("../img/test-green1.png");
    background-repeat: no-repeat;
    background-size: contain
  }

  @media (max-width: 1400px) {
    .quiz-wrap__before, &:after {
      display: none;
    }
  }
}

.quiz-wrap {
  padding-top: 50px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(245,250,251,1) 30%, rgba(245,250,251,1) 100%);

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    margin-bottom: -1px;
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(245,250,251,1) 100%);
  }

  @media (max-width: $mobile) {
    padding-top: 25px;
  }
}

.quiz-wrap__title {
  max-width: 1300px;
  margin: 0 auto;
}

.quiz-wrap__list {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-bottom: 60px;

  @media (max-width: $mobile) {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
}

.quiz-wrap__item {
  display: flex;
  align-items: center;
  font-size: 1.22rem;

  @media (max-width: $tablet) {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 0.9rem;
  }

  @media (max-width: $mobile) {
    flex-direction: row;
    gap: 10px;
    text-align: left;
    font-size: 1rem;
  }
}

.quiz-wrap__img-block {
  position: relative;
  width: 200px;
  height: 200px;
  flex-shrink: 0;

  @media (max-width: $tablet) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: $mobile) {
    width: 80px;
    height: 80px;
  }
}

.quiz-wrap__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &_1 {
    transform: translate(-50%, -50%) scale(1.2);
    margin-top: 10px;
    margin-left: 10px;
  }

  &_2 {
    transform: translate(-50%, -50%) scale(1.3);
  }

  &_2 {
    transform: translate(-50%, -50%) scale(1);
  }
}

.quiz-wrap__desc {
  max-width: 220px;

  @media (max-width: $mobile) {
    flex-grow: 1;
    max-width: 100%;
  }
}

.quiz {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 0px;
  padding: 0;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 120px rgba(25, 25, 25, 0.2);
  overflow: hidden;
}

.quiz__left {
  width: 27%;
  padding: 40px 60px 60px 60px;
  background-image: url("../img/Слой-1-mini.png");
  background-size: cover;

  @media (max-width: $tablet) {
    display: none;
  }
}

.quiz__author {
  text-align: center;
}

.quiz__author-image-block {
  width: 100%;
  height: 330px;
}

.quiz__author-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quiz__author-post {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.6;
}

.quiz__author-name {
  margin-top: 5px;
  font-size: 27px;
  font-weight: 600;
}

.quiz__author-desc {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 70px;
  text-align: left;
  font-size: 15px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: $green;
  }
}

.quiz__status {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 500;
}

.quiz__right {
  width: 74%;
  padding: 60px 75px 80px 60px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    width: 100%;
    padding: 40px 30px 30px 30px;
  }

  @media (max-width: $mobile) {
    padding: 30px 20px 20px 20px;
  }

  @media (max-width: $mobile) {
    padding: 20px 12px 20px 12px;
  }
}

.quiz__first {
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 7px;

  @media (max-width: $tablet) {
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    gap: 15px
  }
}

.quiz__num-block {
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 0.888rem;
  background-color: $green;
  color: #fff;
  text-transform: uppercase;
  flex-shrink: 0;

  @media (max-width: 768px) {
    font-size: 0.7rem;
    padding: 10px 15px;
  }
}

.quiz__question {
  position: relative;
  margin: 0;
  font-size: 2.222rem;
  text-align: left;

  @media (max-width: 768px) {
    font-size: 1.7rem;
    line-height: 1;
    padding-right: 20px;
  }

}

.info {
  position: absolute;
  left: 45%;
  top: 0;
  z-index: 2;
  padding: 20px;
  min-width: 250px;
  border-radius: 20px;
  opacity: 0;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 0 20px rgba(#272727, .1);
  text-align: left;
  background-color: #fff;

  @media (max-width: $tablet) {
    left: initial;
    right: 0%;
    top: 25px;
  }
}

.quiz__question-info {
  position: absolute;
  left: calc(100% + 20px);
  top: 10px;
  width: 25px;
  height: 25px;
  z-index: 3;
  background-image: url("../img/7.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;

  @media (max-width: 768px) {
    left: initial;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
  }
}

.quiz__question-info:hover + .info{
    opacity: 1;
}

.quiz__question-block {
  position: absolute;
  right: -10000px;
  transform: translate(50px);
  opacity: 0;
  transition: opacity 0.2s, transform 0.4s;
  flex-grow: 1;

  &_open {
    position: relative;
    right: 0;
    opacity: 1;
    transform: translate(0px);
  }
}

.quiz-wrap__text {
  margin: 10px 0 20px;
  text-align: center;
  font-size: 0.95rem;
  font-weight: 300;

  @media (max-width: $mobile) {
    margin: 12px 0 10px;
  }
}

.quiz__gift-item {
  display: flex;
  gap: 20px;
  align-items: center;

  &:first-child {
    & .quiz__gift-img-block {
      transform: scale(1.1);
    }
  }
}

.quiz__gift-img-block {
  flex-shrink: 0;
  width: 100px;
}

.quiz__gift-icon {
  width: 30px;
  height: 38px;
  margin-left: auto;
  flex-shrink: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &_price {
    background-image: url("../img/question.png");
  }

  &_pdf {
    background-image: url("../img/lock.png");
  }

  &_gift {
    background-image: url("../img/question.png");
  }
}

.quiz__variants {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 60px;
}

.quiz__variant {
  position: relative;
  width: 270px;
  height: 200px;
  cursor: pointer;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.quiz__variant-inner {
  box-shadow: 0 0 0 $green;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.quiz__variant-desc {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: #aaaaaa;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(#2f2f2f, .2);
  }

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    transition: box-shadow 0.3s;
    box-shadow: 0 0 0 $green inset;
  }
}

.quiz__input:checked + .quiz__variant-inner {
  box-shadow: 0 0 10px rgba($green, 1);
}

.quiz__input:checked + .quiz__variant-inner + .quiz__variant-desc {
  color: #272727;

  &:after {
    box-shadow: 0 0 25px $green inset;
  }
}


.quiz__variants_text {
  row-gap: 30px;
  font-size: 1.111rem;

  @media (max-width: 768px) {
    row-gap: 15px;
  }

  & .quiz__variant {
    width: 270px;
    height: auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  & .quiz__variant-inner {
    padding: 30px 20px 30px 80px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      padding: 20px 15px 20px 80px;
    }
  }

  & .quiz__variant-inner_text {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 40px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      box-shadow: 0 0 10px rgba(#2f2f2f, .2);
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 40px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      background-color: #ededed;
      transition: box-shadow 0.3s;
      box-shadow: 0 0 0 $green inset;
    }
  }

  .quiz__input:checked + .quiz__variant-inner {
    color: #272727;

    &:after {
      box-shadow: 0 0 25px $green inset;
    }
  }
}

.quiz__variant_gift {
  transform: scale(1.5) translate(50px, 30px);

  @media (max-width: $tablet) {
    transform: scale(1);
  }
}


.quiz__button-block {
  margin-top: 90px;
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;

  @media (max-width: 768px) {
    margin-top: 70px;
    gap: 10px
  }
}

.quiz__prev {
  padding: 29px 45px 29px;
  border-radius: 10px;
  color: #fff;
  box-shadow: inset 0 0 15px rgb(255 255 255 / 35%);
  background-color: rgb(225, 225, 225);
  font-family: 'TT', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  opacity: .85;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }

  @media (max-width: 768px) {
    padding: 1.6rem 1.3rem 1.5rem;
    font-size: 0.7rem;
  }

  @media (max-width: $minmobile) {
    padding: 1.6rem 1.3rem 1.5rem;
    font-size: 0.6rem;
  }
}

.quiz__next {
  padding: 30px 45px 25px;
  font-size: 16px;

  @media (max-width: 768px) {
    padding: 1.6rem 1.3rem 1.25rem;
    font-size: 0.7rem;
  }

  @media (max-width: $minmobile) {
    font-size: 0.6rem;
  }
}

.quiz__variant-inner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.quiz__variant-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.quiz__finish {
  margin: 30px 0 40px;
  display: inline-block;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  background-color: $green;
  color: #fff;

  @media (max-width: 768px) {
    margin: 20px 0 30px;
  }
}

.quiz__question_finish {
  text-align: left;
}

.quiz__mini-text {
  text-align: left;
  font-weight: 300;

  @media (max-width: 768px) {
    margin-top: 5px;
  }
}

.quiz__result-list {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content min-content;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.quiz__result-icon-block {
  width: 33px;
  height: 33px;
}

.quiz__result-icon {
  width: 100%;
  height: 100%;
}

.quiz__result-icon_whatsapp {
  fill: #58c767;
}

.quiz__result-icon_viber {
  fill: #8172e3;
}

.quiz__result-icon_telegram {
  fill: #47b1ea;
}

.quiz__result-icon_email {
  fill: #e3c953;
}

.quiz__result-inner_icon {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 200px;
  padding: 20px;
  border: 2px solid rgba(#272727, .1);
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;

  @media (max-width: 768px) {
    width: 100%;
    padding: 12px;
  }
}

.quiz__question-block_finish + .quiz__button-block{
  margin-left: 0;
}

.quiz__result-mess:checked + .quiz__result-inner {
  border: 2px solid $green;
  color: $green;
}

.quiz__result-inputs {
  width: 300px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.quiz__result-input-block_mail {
  margin-bottom: 20px;
}

.quiz_finish {
  background-image: url("../img/Holding-Phone-Mockup.png");
  background-repeat: no-repeat;
  background-position: right 20px bottom -120px;
  background-size: auto 80%;

  & .quiz__gift-icon {
    display: none;
  }

  & .quiz__gift-desc {
    padding: 10px 20px;
    border: 2px dashed $green;
    color: $green;
    border-radius: 15px;
  }

  & .quiz__author-desc {
    padding: 15px 25px;
    border-radius: 15px;
    background-color: $green;
    color: #fff;

    &:before {
      display: none;
    }
  }

  & .quiz__personal {
    max-width: 400px;
  }

  @media (max-width: 768px) {
    background-position: right -50px bottom -80px;
    background-size: auto 70%;
  }

  @media (max-width: $mobile) {
    background-position: right -90px bottom -80px;
    background-size: auto 70%;
  }
}