.reviews {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;

  &::before {
    content: "";
    position: absolute;
    right: -55px;
    bottom: 0;
    width: 300px;
    height: 600px;
    background-image: url("../img/test-green1.png");
    background-repeat: no-repeat;
    background-size: contain
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 15px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
  }

  @media (max-width: $tablet) {
    &::after {
      transform: translate(-50%, 50%) scale(0.9);
    }
  }
}

.reviews__circle {
  position: absolute;
  z-index: 2;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -9px);
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(rgba($green,0.2) 0%, rgba($green,0.45) 100%);

  @media (max-width: $tablet) {
    transform: translate(-50%, 50%) scale(0.9);
  }
}

.reviews__title {
  margin: 0;
}

.reviews__subtitle {
  margin: 0;
  font-size: 1.777rem;
  font-weight: 300;
  text-align: center;

  @media (max-width: $mobile) {
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 1;
  }
}

.reviews__list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  @media (max-width: $tablet) {
    gap: 15px;
  }

  @media (max-width: $mobile) {
    margin-top: 40px;
    grid-template-columns: 1fr 1fr;
  }
}

.reviews__item {
  position: relative;
  height: 300px;
  background-color:beige;
  border-radius: 35px;
  overflow: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(#000, .4);
  }

  @media (max-width: $tablet) {
    height: 20vw;
  }

  @media (max-width: $mobile) {
    height: 30vw;
    border-radius: 15px;
  }
}

.reviews__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background: radial-gradient(50% 50% at 50% 50%, #96be8e 0, $green 100%);
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba($green, 0.4);
  animation: pulse 2s infinite;

  @media (max-width: 768px) {
    width: 50px;
    height: 50px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($green, 0.9);
  }
  70% {
      box-shadow: 0 0 0 25px rgba($green, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba($green, 0);
  }
}

.reviews__mini-icon {
  fill: #fff;
}

.reviews__icon {
  fill: #fff;
}