.see {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(180deg, rgba(#fff, 1) 0%, rgba(#f5fafb, 0.5) 20%, rgba(#fff, 1) 100%);

  &::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 30px;
    width: 200px;
    height: 500px;
    background-image: url("../img/lists.png");
    background-repeat: no-repeat;
    background-size: contain
  }

  @media (max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 50px;

    &::before {
      display: none;
    }
  }
}

.see__title {
  margin-bottom: 20px;
}

.see__subtitle {
  text-align: center;
  font-size: 1.333rem;
  font-weight: 300;
}

.see__subsubtitle {
  margin-bottom: 40px;
  text-align: center;
  font-size: 0.92rem;
}

.contact__subaddress {
  margin-top: 20px;

  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.contact {
  position: relative;
}

.contact__form {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(#fff, 1);
  box-shadow: 0 0 50px rgba(#272727, .2);

  @media (max-width: $tablet) {
    right: -80px;
  }

  @media (max-width: 768px) {
    position: relative;
    top: 0;
    right: 0;
    transform: translateY(0);
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 50px rgba(#272727, .05);
  }
}

.contact__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 1.444rem;
  line-height: 1.1;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    line-height: 1;
  }
}

.contact__input {
  margin-top: 15px;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.contact__btn {
  width: 100%;
  padding: 30px 40px 26px;
  font-size: 15px;

  @media (max-width: 768px) {
    padding: 1.8rem 2.2rem 1.5rem;
    font-size: 0.7rem;
  }
}