.modal-video, .modal-video-mini {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -10000px;
  right: 10000px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(rgb(21, 21, 21), .7);
  opacity: 0;
  transition: opacity 0.5s;

  &._hidden {
    visibility: hidden;
  }
}

.modal-video_active {
  left: 0;
  right: 0;
  opacity: 1;
}

.modal-video__inner {
  position: relative;
  width: 70vw;
  max-height: 100vh;

  @media (max-width: 1200px) {
    width: 80vw;
  }

  @media (max-width: 720px) {
    width: 90vw;
  }
}

.modal-video__video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  flex-shrink: 1;

  & video {
    max-width: 100%;
    max-height: 100%;
  }
}

.vjs-control-bar {
  height: 4em !important;
}

.vjs-control {
  width: 5em !important;
}

.vjs-progress-control {
  margin-left: 5% !important;
}

.ytp-watermark {
  top: 0 !important;
  left: 0 !important;
  bottom: initial !important;
}

.vjs-button {
  &:hover {
    transform: scale(1.2);
  }
}

.vjs-button>.vjs-icon-placeholder:before {
  font-size: 2rem;
  line-height: 1.1;
}



.modal-video .close, .modal-video-mini .close {
  position: absolute;
  top: -70px;
  right: -20px;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:after, &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 2px;
    background-color: rgba(#fff, .6);
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (max-width: 1000px) and (orientation: landscape) {
    top: 0px;
    right: 20px;
    width: 30px;
    opacity: 0.7;
  }
}

.vjs-icon-placeholder:before {
  color: $green !important;
}

