/* Global */

:root {
  box-sizing: border-box;
  // --bg: rgb(255, 255, 0);
  // background-color: var(--bg);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.content-box-component {
  box-sizing: content-box;
}

html {
  height: 100%;
  width: 100%;
  font-family: $fontTT;
  font-size: 18px;
  line-height: 1.4;
  color: #282828;
  font-weight: normal;

  @media (max-width: $desktop) {
    font-size: 16px;
  }

  @media (max-width: $tablet) {
    font-size: 15px;
  }

  @media (max-width: $mobile) {
    font-size: 14px;
  }
}

body {
  position: relative;
  height: 100%;
  background-color: #f5fafb;
}

.-weekend- {
  color: #e3e3e3;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.color {
  color: $green;
}

// img {
//   width: 100%;
//   height: 100%;
//   object-fit: contain;
//   flex-shrink: 0;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  min-width: 320px;
  display: grid;
  grid-template-rows: 1fr min-content;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;

  &_p {
    padding: 0;
  }

  @media (max-width: $minmobile) {
    padding: 0 15px;
  }

  @media (min-width: $tablet) {
    padding: 0 30px;
  }
}

// Если в браузере отключен javascript
.no-js {
  & .wrapper::before {
    content: "Пожалуйста, разрешите использовать JavaScript! Без него сайт грустит...";
    position: fixed;
    top: -300px;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 99999;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(241, 83, 94);
    background-color: rgba(0, 0, 0, 0.75);
    animation-name: real;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-fill-mode: forwards;
  }
}

@keyframes real {
  0% {
    top: -300px;
  }
  10% {
    top: 0;
  }
  90% {
    top: 0;
  }
  100% {
    top: -300px;
  }
};


// Стили для страницы privacy из Tilda
#inputResult {
  font-size: 1rem;
  h4 {
    font-size: 1.8rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .ul,
  .ol {
    margin: 20px;
  }

  dd {
    margin: initial;
  }

  mark, .mark {
    color: $green;
    background-color: yellow;
  }
}