
@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "jquery-ui.min.scss";
@import "colorbox.scss";
@import "air-datepicker.scss";
@import "adjustments.scss";

// BLOCKS
@import "./blocks/btn.scss";
@import "./blocks/input.scss";
@import "./blocks/socials.scss";
@import "./blocks/title.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/progressbar.scss";
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/quiz.scss";
@import "./blocks/advantages.scss";
@import "./blocks/price.scss";
@import "./blocks/want.scss";
@import "./blocks/portfolio.scss";
@import "./blocks/photos.scss";
@import "./blocks/dreams.scss";
@import "./blocks/reviews.scss";
@import "./blocks/questions.scss";
@import "./blocks/map.scss";
@import "./blocks/ready.scss";
@import "./blocks/personal.scss";
@import "./blocks/footer.scss";
@import "./blocks/see.scss";
@import "./blocks/up.scss";
@import "./blocks/video.scss";
@import "./blocks/modal.scss";
